.adminLogin{
    align-content: center;
    padding: 20px;

}
.adminLogin h4{
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color:#4169e0 ;
}
.lma
{
    background-color:#5274da;
    color: white;
    padding: 20px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.adashboard
{
    padding:20px;
    border-radius: 10px;
}
label 
{
    display: block;
    margin: 35px;
    font-weight: bold;
}
.navbar
{
    display: flex;
    justify-content: space-around;
}
input
{
    margin-left: 20px;
    
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submitbtn
{
    padding: 7px;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}