@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:wght@600&family=Teko:wght@300&family=Ubuntu&display=swap');
.navbar
{
    background-color: rgb(54, 54, 54);
    
}

.left
{
    color: white;
    position: fixed;
    left:0;
    
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
.right
{
    margin-left: auto;
    margin-right:0;
    font-family: 'Raleway', sans-serif;

      
}